/* TOP HEADER */

#main-header {display: flex;
   height: 10; 
   align-items: center; 
   justify-content: space-around;
   background-color: #014d03f5;
  }

#logo {color: #f7faf7f5;
   font-weight: 180;
   font-size: 4vh;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }


/* MAIN */


#main {padding-top: 8vh;

}

        .row {
            display: flex;
            margin: 20px 0;
        }

        .row img {
            width: 80vh;
            height: 50vh;
            object-fit: cover;
            border-radius: 1vh;
            
        }

        .row:nth-child(odd) {
            flex-direction: row; 
        }

        .row:nth-child(even) {
            flex-direction: row-reverse; 
        }

        .text {
            padding: 10vh;
            width: 60vh;
            display: flex;
            align-items: center;
            font-size: 2vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: justify;
        }

        .image {
            width: 50%;
        }
    

body 
 {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px; font-size: 1.5vw;}

.facts {text-align: center; font-size: 2vh;}

.navbutton {color: white; text-decoration: none; list-style: none;
  padding: 12px; border: 1px solid white; border-radius: 15%;}

.navbutton>ul {list-style: none;}


body>main article {margin: auto; width: 70%;}


/* FORM */

form {text-align: center;}

#form-h2 {text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 3.5vh;
color: #014d03f5;
}

image {border-radius: 50%;}


/* FOOTER */
body>footer
 {background-color: #014d03f5;
   display: flex;
   color: #f7faf7f5;
   font-style: oblique;
   font-weight: 75;
   font-size: larger;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   justify-content: space-between;
   }


 .footer-ul {display: flex;
   list-style: none;
    color: white;
    margin-left: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5vh;
    font-weight: 20;
    color: #f7faf7f5;
    align-items: middle;
    }

.footer-ul>div>li>a { margin-left: 12px; 
  text-decoration: none;
}

.left {text-align: left;
padding-left: 3vh;
}

.right {text-align: right;
padding-right: 3vh;

}